/* creation du reset afin de supprimer tout les styles par défaut des balises */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
:root{
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
}
.menu{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}
.menu li{
    width: 50%;
}
.menu li a{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1em;
}
.logo{
    flex: 5;
    order: 1;
}
.logo img{
    margin: .55em 0 0 -3em;
    width: 25.5vw;
}
.signin{
    order: 2;
    font-weight: 700;
}
.signin a{
    margin: .6em 0 0 2.3em;
}
.tab{
    order: 3;
    width: 50%;
    text-align: center;
}
.menu :nth-of-type(3), .menu .tab:hover{
    border-bottom: 3px solid #0065FC;
}
.menu :nth-of-type(4){
    border-bottom: 3px solid #f2f2f2;
}
.menu :nth-of-type(4) a{
    color: black;
}
.menu li a,
.menu :nth-of-type(4) a:hover,
.filter-category span i,
.info span i,
.legend .rating i{
    color: #0065FC;
}
.container{
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 8.4%;
    font-size: 1rem;
}
.container h1{
    padding-right: 5%;
    font-size: 1.35em;
}
.intro{
    line-height: 3;
    margin-bottom: 6%;
}
form{
    display: flex;
    position: relative;
    height: 7.5vh;
}
form:focus-within{
    border-radius: 15px;
    box-shadow: 0 0 0 2px blue;
}
.search-icon, .search-bar, .search-btn{
    height: 100%;
}
.search-icon{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #F2F2F2;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon i{
    font-size: 1.1em;
}
.search-bar{
    border: 1px solid #f2f2f2;
    font-family: "Raleway", sans-serif;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
    padding-left: 5%;
    border-right: 0;
}
.search-bar::placeholder{
    color: black;
    opacity: 1; /*Compatibilité Firefox*/
}
.search-btn{
    border: 0;
    background: #0065FC;
    width: 50px;
    right: 0;
    position: absolute;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}
.search-btn i {
    color: #fff;
}
.filter-content{
    margin-top: 11%;
    display: flex;
    flex-flow:column wrap;
}
.filter-title{
    font-weight: 700;
    font-size: 1.1rem;
}
.filter-category{
    display: flex;
    flex-wrap: wrap;
    margin: 4% auto;
    justify-content: space-between;
}
.filter-category li{
    cursor: pointer;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    border-left: 0;
    border-top-left-radius:6vmax ;
    border-bottom-left-radius:6vmax ;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 3% 3.7% 0;
    padding-right: 1rem;
    height: 3rem;
}
.filter-category li:hover{
    transform: scale(1.1);
    transition: all .2s ease-out;
}
.filter-category span{
    display: flex;
    justify-content: center;
    margin-right: .7em;
    background: #DEEBFF;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.filter-category span i {
    font-size: 1.4rem;
    align-self: center;
}
.info{
    font-size: 1rem;
    display: flex;
    align-items: baseline;
}
.info span{
    margin-right: .7em;
}
.info span i{
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    padding: 5px 8px;
}
.section-container, .wrapper, .container-card, .legend{
    display: flex;
    flex-flow: column;
}
.popular, .home, .activity{
    padding: 10% 5.5% 10% 5.5%;
}
.section-container{
    margin-top: 10%;
}
h2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    padding-bottom: 8%;
    font-size: 5.8vw;
}
h2 .fa-chart-line{
    font-size: 1em;
}
.card{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 2vh;
    position: relative;
    box-shadow: .1em .1em .5em  #dedede;
}
.card img{
    object-fit: cover;
    width: 100%;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card a {
    width: 100%;
    height: 100%;
    position: absolute;
}
.legend{
    font-size: 3.65vw;
    margin-top: auto;
}
.legend h3{
    flex-grow: 1.5;
}
 .legend p{
    flex-grow: 7;
}
 .legend .rating{
    flex-grow: 0;
    letter-spacing: -1px;
}
.legend .rating .grey-rate{
    color: #d9d9d9;
}
.popular{
    order: 1;
    background: #f2f2f2;
}
.popular .card{
    flex-direction: row;
    height: 22vh;
}
.popular .card img{
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 36vw;
    height: 100%;
}
.popular .legend{
    margin: auto 0;
    margin-left: calc(100%/2.2);
    width: 46%;
    height: 80%;
}
.home{
    order: 2;
}
.home h2{
    padding-bottom: 4%;
}
.home .card{
    height: 29.3vh;
}
.home img{
    height: 18vh;
}
.home .legend{
    line-height: 1.6;
    padding: 0% 0 2% 5%;
}
.home-options{
    font-weight: 700;
    padding-top: 5%;
    font-size: 1.1rem;
    width: 7em;
}
.activity{
    order: 3;
}
.activity .container-card{
    height: 100%;
}
.activity .card{
    height: 28.3vh;
    margin-bottom: 7%;
}
.activity img{
    height: 100%;
    padding: 0;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
}
.activity .container-card .card:nth-of-type(4) img{
    filter: brightness(1.3);
}
.activity .legend{
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    height: 8.3vh;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
}
.activity h3{
    flex: 0;
    margin: auto 5%;
}
.footer{
    background: #f2f2f2;
    font-size: 1em;
    padding: 13% 0 0 8%;
}
.footer h3{
    padding-bottom: 15px;
}
.footer ul{
    padding-bottom: 30px;
}
.footer ul li{
    padding-bottom: 13px;
}

/* compatibilité desktop */
@media screen and (min-width:1200px){
    .menu li{
        font-size: 1.1vmax;
    }
    .menu :nth-of-type(3),
    .menu :nth-of-type(4):hover{
        border-top: 3px solid #0065FC;
        border-bottom:0;
    }
    .menu :nth-of-type(4),
    .menu :nth-of-type(3):hover{
        border-bottom:0;
    }
    .menu :nth-of-type(4){
        border-top: 3px solid transparent;
    }
    .logo{
        flex: 6;
        justify-content: start;
    }
    .menu .logo a{
        width: 24%;
    }
    .logo img{
        width: 7vmax;
        margin-top: 2em;
    }
    .tab{
        order: 2;
        flex: 1;
        width: 0;
    }
    .signin{
        order: 3;
        flex: 1;
        padding: 0;
    }
    .signin a {
        margin: 0;
        width: 70%;
    }
    .container{
        margin: 0;
        padding: 1% 0 0 3.2%;
        font-size: 1.1vmax;
    }
    .intro{
        line-height: 2;
        font-size: .9em;
        padding-bottom: 1%;
        margin: 0;
    }
    form{
        margin: 0;
        width: 25.3em;
        height: 3em;
        padding: 0;
    }
    form:focus-within{
        border-radius: 20px;
    }
    .search-icon{
        border-bottom-left-radius: 20px;
        border-top-left-radius:20px;
    }
    .search-bar, .search-icon, .search-btn{
        height: 100%;
    }
    .search-bar{
        font-size: .8em;
        width: 100%;
        padding-left: 2.5%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .search-bar::placeholder{
        font-size: 1.3em;
    }
    .search-btn{
        border-bottom-left-radius: 0;
        border-top-left-radius:0;
        border-bottom-right-radius: 20px;
        border-top-right-radius:20px;
        width: 30%;
    }
    .search-btn i{
        display: none;
    }
    .search-btn::after{
        content: "Rechercher";
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-weight: 700;
    }
    .filter-content{
        margin: 1.5% 0 0 0;
        flex-flow: row;
        align-items: baseline;
        width: 100%;
    }
    .filter-title{
        margin: 0 2.5% 0 0;
        font-size: 1.1em;
    }
    .filter-category{
        margin: 1% 0 1% 0;
        justify-content: space-between;
        width: 65%;
    }
    .filter-category li{
        margin-right: 0;
        height: 3.2vmax;
        border-radius: 40px;
        width: auto;
        font-size: 1.1em;
        padding-right: 25px;
    }
    .filter-category span{
        height: 3.3vmax;
        width: 3.3vmax;
    }
    .filter-category span i{
        font-size: 1em;
    }
    .info{
        margin-top: 2%;
        padding: 0;
        font-size: 1em;
    }
    .section-container{
        flex-flow: row wrap;
        justify-content: space-between;
        width: 94%;
        margin: 2% auto;
    }
    .wrapper{
        padding: 0;
    }
    h2{
        font-size: 1.9em;
    }
    .home, .popular{
        border-radius: 20px;
        padding: 3%;
        padding-bottom: 0;
    }
    .home img, .popular img{
        padding: 6px;
    }
    .card{
        margin-bottom: 3.5%;
    }
    .legend{
        font-size: .9vmax;
    }
    .container-card{
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .home{
        order: 1;
        width: 65%;
        background: #f2f2f2;
    }
    .home .container-card .card{
        width: 30%;
        height: 12.5vmax;
        margin-top: 0;
    }
    .home img{
        height: 7.5vmax;
    }
    .home .legend{
        line-height: 1.5;
        padding: 0 0 3% 7%;
    }
    .home-options{
        padding: 0;
        font-size: 1.3em;
        margin-top: 1%;
    }
    .popular{
        order: 2;
        width: 29%;
        margin: 0 auto;
    }
    .popular h2, .home h2{
        padding-bottom: 1em;
    }
    .popular .container-card .card{
        width: 100%;
        height: 9.4vmax;
        margin-bottom: 40px;
    }
    .popular .container-card .card img{
        height: 100%;
        width: 38%;
    }
    .activity{
        order: 3;
        width: 100%;
        padding: 4% 0 0 0;
        height: 40vmax;
    }
    .activity h2{
        padding-bottom: 1em;
    }
    .activity .card{
        margin: 0;
    }
    .activity .container-card{
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
    .activity .container-card .card{
        width: 22%;
        overflow: hidden;
    }
    .activity .legend{
        height: 4.5em;
    }
    /* Traitement de chaque card indépendament selon leur taille et leur largeur dans la mosaïque */
    .activity .container-card .card:nth-of-type(1){
        order: 1;
        height: 100%;
    }
    .activity .container-card .card:nth-of-type(2){
        order: 2;
        height: 52%;
    }
    .activity .container-card .card:nth-of-type(3){
        order: 2;
        height: 40%;
    }
    .activity .container-card .card:nth-of-type(4){
        order: 3;
        height: 100%;
    }
    .activity .container-card .card:nth-of-type(5){
        order: 4;
        height: 45%;
    }
    .activity .container-card .card:nth-of-type(6){
        order: 4;
        height: 47%;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 50px 0 0 3%;
    }
    .footer nav{
        width: 60%;
        font-size: 1vmax;
    }
}

/* compatibilité tablette */
@media (min-width:760px) and (max-width:1200px){
    .logo img{
        width: 10em;
    }
    .container{
        width: 93%;
        padding-top: 5%;
    }
    form{
        height: 4rem;
        width: 88%;
    }
    .search-bar{
        width: 90%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .search-btn{
        width: 10rem;
    }
    .search-btn i, .search-icon i{
        font-size: 1.5rem;
    }
    .filter-content, .section-container{
        margin-top: 4%;
    }
    .filter-category{
        margin: 3% auto;
        width: 100%;
    }
    .filter-category li{
        font-size: 1em;
    }
    .wrapper{
        padding: 25px;
    }
    .wrapper h2{
        width: 88%;
        font-size: 2rem;
        margin: 0 auto;
        padding-bottom: 3%;
    }
    .popular .container-card, .home .container-card, .activity .container-card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .popular .card, .home .card, .activity .card{
        width: 48%;
        flex-direction: column;
    }
    .popular .legend, .home .legend, .activity .legend{
        font-size: 1rem;
    }
    .popular .card{
        height: 11rem;
    }
    .popular .card img{
        width: 20vw;
    }
    .popular .card .legend{
        margin-left: calc(100%/2);
    }
    .home .card{
        height: 15em;
    }
    .home img{
        height: 9em;
    }
    .home .legend{
        padding: 0 0 3% 7%;
    }
    .home-options{
        margin: auto;
        text-align: center;
    }
    .footer{
        padding: 1em;
        display: flex;
        justify-content: space-around;
    }
}